/* 
    This style sheet stylizes the controls inside our
    Web Tree JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author:	Richard McKenna
    Author:	Shahaji Deshmukh
    Version:	1.0
*/

/* CSS CLASS FOR PAGE EDITING BUTTONS */
.tag_button {
    -fx-background-color: 
        linear-gradient(green,purple)/*border color of the buttons*/,
        linear-gradient(black, yellow)/*this is the color of the borers*/,
        linear-gradient(yellow,pink),
        linear-gradient(yellow 0%, pink 50%, orange 100%)/*the color of the buttons*/,
        linear-gradient(from 0% 0% to 15% 50%, yellow, blueviolet);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,1,0;
    -fx-text-fill: yellow;/*this the color of the letters*/
    -fx-font-weight: bold;
    -fx-font-size: 15px;

    
}

/* CSS CLASS FOR PANES TO FILL THEIR FULL REGION */
.max_pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width:true;
    -fx-background-color:#654b00/*temp web page*/;
}

/* CSS CLASS FOR OUR BIG PANES */
.bordered_pane {
    -fx-background-color: green;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #654b00;
}

/* CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI */
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI */
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI */
.prompt_label {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR TEXT FIELDS AT UI PROMPTS */
.prompt_text_field {
    -fx-font-size: 10pt;
}